*{
    padding: 0;
    margin: 0;
}
body{

  font-family: "Roboto", sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/bg2.jpg) ;
  
}

.table
{ font-weight: 600;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: lightgrey;
}
#inputname,#inputage,#email
{
    border: none;
    padding: 10px;
    margin-top: 2px;
    border-bottom: black 1px solid;
}
#gender,#select
{
    margin-top: 2px;
    padding: 10px;
}
#photo
{
    padding: 10px;
    margin-top: 2px;
    margin-inline-start: 70px;
}
#save
{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: deepskyblue;
    border: none;
    
}
#save:hover{
    border: solid 2px ;
    border-radius: 10px;
    cursor: pointer;
}
#output
{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    /* border: deepskyblue solid 2px; */
}
th,tr
{
    border: solid deepskyblue 2px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    
}

.del
{
    padding: 10px;
    border-radius: 5px;
    background-color: deepskyblue;
}
.del:hover{
    cursor: pointer;
}